* {
   padding: 5px;
}
table, th, td {
    border: 1px solid;
}
table {
    border-collapse: collapse;
    width: 100%;
}

div {
    align-items: center;
    justify-content: center;
    margin: auto 15%;
}
header {
    align-items: center;
    justify-content: center;
    margin: auto 35%;
}
