* {
    color: rgb(55, 48, 83);
}
/*img {
    display: block;
    margin: 50px auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
}*/
/*div {
    background-image: url(inicio.jpg);
}*/
body {
    background-image: url(inicio.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    position: relative;
    top: 200px;
    left: 20px;
}
div {
    display: block;
    text-align: center;
}